
/* ==================================================
   CSS RESET
   ==================================================*/
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    border: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

label {
    cursor: pointer;
}

input {
    padding: 0;
}

input[type=text],
input[type=email],
input[type=submit],
input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea {
    padding: 0;
    margin: 0;
    resize: none;
    overflow: hidden; /* hide scroll line for IE */
}

strong {
    font-weight: 500;
}

/* ==================================================
   TYPOGRAPHY & STRUCTURE
   ================================================== */
    body, button, input, textarea{
        font-family: 'Open Sans', sans-serif;
        line-height: 1;
    }
    body{
        font-size: 1.4em;
    }
    h1{
        padding: 0;
        margin: 0;
        font-size: 3.143em;
    }
    h2{
        font-size: 5.143em;
        font-weight: 300;
        text-align: center;
    }
        h2 span{
            position: relative;
        }
        h2 span:before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
        }
    .layout-wrapper-center{
        width: 1170px;
        margin: 0 auto;
    }
    .clear:after{
        content: "";
        display: table;
        clear: both;
    }
/* ==================================================
   BUTTONS
   ================================================== */


/* ==================================================
   HEADER
   ================================================== */
.header{
    padding: 20px 0 10px;
    background-color: #d84d3a;
    color: #fdfdfe;
}
    /* LOGO
    --------*/
    .logo-holder{
        float: left;
        padding-left: 39px;
        background: url("../img/icon_logo.png") no-repeat 0 50%;
    }
        .logo-link{
            color: #fdfdfe;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
        }
        .logo-description{
            display: block;
            font-family: 'Marvel', sans-serif;
            font-size: .545em;
        }

    /* NAVIGATION
    --------------*/
    .nav{
        float: right;
        max-width: 700px;
        font-family: 'Marvel', sans-serif;
        font-size: 1.929em;
    }
        .nav-item{
            position: relative; /* for border under menu item, sub navigation */
            display: inline-block;
            margin-right: 30px;
            list-style: none;
        }
            .nav-item:last-child{
                margin-right: 0;
            }
            .nav-item-link{
                color: #7d261a;
                text-decoration: none;
                transition: color .3s linear 0s;
            }
            .nav-item-link-current,
            .nav-item-link:hover{
                color: #fff;
            }

            /* border under menu item */
            .nav-item-link-current:after,
            .nav-item-link:hover:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -37px;
                display: block;
                width: 100%;
                height: 3px;
                background-color: #dbb3ae;
            }

            /* SUB NAVIGATION */
            .nav-item .sub-nav{

            }
            .sub-nav {
                position: absolute;
                display: block;
                min-width: 158px;
                padding: 20px 0;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }
                .sub-nav-item {
                    position: relative; /* for other sub nav */
                    padding: 10px 0;
                    list-style: none;
                    text-align: center;

                }
                    .sub-nav-item-link{
                        color: #fff;
                        text-decoration: none;
                        transition: color .3s linear;
                    }

            /* sub nav level 1 */
            .nav-item-link + .sub-nav{
                left: 50%;
                top: 75px;
                margin-left: -79px;
                background-color: #d84d3a;
                font-size: .519em;
            }
            .nav-item-link:hover + .sub-nav {
                display: block;
            }
            .nav-item-link + .sub-nav:before{ /* triangle on top */
                content: "";
                position: absolute;
                top: -10px;
                left: 50%;
                width: 0;
                height: 0;
                margin-left: -7px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 10px solid #d84d3a;
            }
            .nav-item-link + .sub-nav > .sub-nav-item > .sub-nav-item-link:hover{
                color: #7d261a;
            }

            /* sub menu level 2 */
            .sub-nav-item > .sub-nav{
                top: 0;
                left: 101%;
                background-color: #dab2ad;
            }
                .sub-nav .sub-nav .sub-nav-item-link:hover{
                    color: #d74d3a;
                }

/* ==================================================
   CONTENT
   ================================================== */

/* SLIDER
----------*/
.slider{
    position: relative; /* for controls */
}
    /* IMAGES  */
    .slider-img-wrapper{
        padding: 0;
        margin: 0;
    }
        .slider-img-item{
            list-style: none;
        }
            .slider-img{
                max-width: 100%;
            }

    /* CONTROLS */
    .slider-controls{
        position: absolute;
        top: 150px;
        left: 50%;
        width: 300px;
        padding: 0;
        margin: 0 0 0 -150px;
        text-align: center;
    }
        .slider-controls-item{
            list-style: none;
            display: inline-block;
            width: 19px;
            height: 19px;
            border: 2px solid #5b605f;
            border-radius: 50%;
            background-color: #5b605f;
            cursor: pointer;
        }
        .slider-controls-item:hover{
            border-color: #e64c3c;
        }
        .slider-controls-item-current{
            background-color: #e64c3c;
            border-color: #e64c3c;
        }

    /* CONTACTS */
    .slider-contacts-wrapper{
        display: none;
    }

/* SECTION
-----------*/
.section{
    padding-top: 50px;
    background-color: #fdfdfe;
}